
@{
    ViewBag.Title = "Home Page";
}



<div class="owl-carousel owl-single px-0">
    <div class="site-blocks-cover overlay" style="background-image: url(../../Assets/images/hero_bg.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto align-self-center">
                    <div class="site-block-cover-content text-center">
                        <h1 class="mb-0"><strong class="text-primary">Minh Hoàng</strong> Mở Cửa 24h</h1>

                        <div class="row justify-content-center mb-5">
                            <div class="col-lg-6 text-center">
                                <p>Thuốc VIP</p>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-blocks-cover overlay" style="background-image: url(../../Assets/images/hero_bg_2.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto align-self-center">
                    <div class="site-block-cover-content text-center">
                        <h1 class="mb-0">Y Học Mới <strong class="text-primary">Hàng Ngày</strong></h1>
                        <div class="row justify-content-center mb-5">
                            <div class="col-lg-6 text-center">
                                <p>Thuốc PRO</p>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-blocks-cover overlay" style="background-image: url(../../Assets/images/vutru.jpg) ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto align-self-center">
                    <div class="site-block-cover-content text-center">
                        <h1 class="mb-0">Y Học Mới <strong class="text-primary">Hàng Ngày</strong></h1>
                        <div class="row justify-content-center mb-5">
                            <div class="col-lg-6 text-center">
                                <p>Thuốc PRO</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="site-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="feature">
                    <span class="wrap-icon flaticon-24-hours-drugs-delivery"></span>
                    <h3><a href="#">Luôn Mở Khi Bạn Cần</a></h3>
                    <p>24/24</p>
                    <p><a href="#" class="d-flex align-items-center"><span class="mr-2">Tìm Hiểu Thêm</span> <span class="icon-keyboard_arrow_right"></span></a></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature">
                    <span class="wrap-icon flaticon-medicine"></span>
                    <h3><a href="#">Y học mới hàng ngày</a></h3>
                    <p>Thuốc Mới Thuốc Mới ĐÊ</p>
                    <p><a href="#" class="d-flex align-items-center"><span class="mr-2">Tìm Hiểu Thêm</span> <span class="icon-keyboard_arrow_right"></span></a></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature">
                    <span class="wrap-icon flaticon-test-tubes"></span>
                    <h3><a href="#">Thuốc được đảm bảo</a></h3>
                    <p>Uy Tín Luôn</p>
                    <p><a href="#" class="d-flex align-items-center"><span class="mr-2">Tìm Hiểu Thêm</span> <span class="icon-keyboard_arrow_right"></span></a></p>
                </div>
            </div>
        </div>
    </div>
</div>




@{ Html.RenderAction("HotproductTPCN", "Home");}

@{ Html.RenderAction("HotproductDMP", "Home");}

@{ Html.RenderAction("HotproductCSCN", "Home");}

@{ Html.RenderAction("HotproductTBYT", "Home");}

@{ Html.RenderAction("HotproductT", "Home");}


<div class="site-section bg-image overlay" style="background-image: url(../../Assets/images/hero_bg_2.jpg)">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-7">
                <h3 class="text-white">Đăng Kí Nhận Ưu Đãi Lớn</h3>
                <p class="text-white">Nhiều VuChờ Hấp Dẫn</p>
                <p class="mb-0"><a href="#" class="btn btn-outline-white">Đăng Ký</a></p>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">

        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="title-section">
                    <h2>Khách Hàng <strong class="text-primary">Hài Lòng</strong></h2>
                </div>
                <div class="block-3 products-wrap">
                    <div class="owl-single no-direction owl-carousel">

                        <div class="testimony">
                            <blockquote>
                                <img src="~/Assets/images/person_1.jpg" alt="Image" class="img-fluid">
                                <p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat unde.&rdquo;</p>
                            </blockquote>

                            <p class="author">&mdash; Kelly Holmes</p>
                        </div>

                        <div class="testimony">
                            <blockquote>
                                <img src="~/Assets/images/person_2.jpg" alt="Image" class="img-fluid">
                                <p>
                                    &ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore
                                    obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat
                                    unde.&rdquo;
                                </p>
                            </blockquote>

                            <p class="author">&mdash; Rebecca Morando</p>
                        </div>

                        <div class="testimony">
                            <blockquote>
                                <img src="~/Assets/images/person_3.jpg" alt="Image" class="img-fluid">
                                <p>
                                    &ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore
                                    obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat
                                    unde.&rdquo;
                                </p>
                            </blockquote>

                            <p class="author">&mdash; Lucas Gallone</p>
                        </div>

                        <div class="testimony">
                            <blockquote>
                                <img src="~/Assets/images/person_4.jpg" alt="Image" class="img-fluid">
                                <p>
                                    &ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore
                                    obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat
                                    unde.&rdquo;
                                </p>
                            </blockquote>

                            <p class="author">&mdash; Andrew Neel</p>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-lg-5">
                <div class="title-section">
                    <h2 class="mb-5">Tại Sao <strong class="text-primary">Chọn Chúng Tôi</strong></h2>
                    <div class="step-number d-flex mb-4">
                        <span>1</span>
                        <p>Luôn Mở Cửa Khi Bạn Cần</p>
                    </div>

                    <div class="step-number d-flex mb-4">
                        <span>2</span>
                        <p>Thuốc Vip và Pro</p>
                    </div>

                    <div class="step-number d-flex mb-4">
                        <span>3</span>
                        <p>Uy Tín Luôn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
