
<li class="has-children">
    <a href="#">Thể Loại</a>
    <ul class="dropdown">
        @foreach (var item in ViewBag.category)
        {
            <li class="has-children">
                <a href="@Url.Action("ViewCategory", "Category", new { @id = item.category_id}, null)">@item.category_name</a>
                <ul class="dropdown">
                    @foreach (var sml in ViewBag.smallcategory)
                    {
                        if (sml.category_id == item.category_id)
                        {
                            <li><a href="@Url.Action("ViewSmallCategory", "Category", new { @id = sml.smallcategory_id }, null)">@sml.smallcategory_name</a></li>

                        }
                    }
                </ul>
            </li>
        }
    </ul>
</li>
